@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(1px);
  }
  75% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake span {
  animation: shake 0.5s ease-in-out;
  display: inline-block;
  /* vertical-align: middle; */
  position: relative;
  /* font-size: 1rem; */
  /* transform: translateY(0); */
  /* transform: none !important; */
}

.icon-input .MuiInputLabel-root {
  margin-left: 2em;
}
/* .icon-input .MuiInputLabel-shrink {
  margin-left: "0";
} */

.icon-input .MuiInputLabel-root.MuiInputLabel-shrink {
  margin-left: 0;
}

.icon-input .MuiIconButton-root {
  padding: 0;
}

.passHint {
  margin-top: 1em;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* height: 100vh; */
}
